/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
    font-family: nirmala;
    src: url(../font/Nirmala.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: nirmala  !important;
    /* font-family: "Poppins", sans-serif !important;
     */
}
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nav{
    background: #5e9400;
    /* background: #70ab0a;  */
    padding: 10px 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 3px #8c8c8c52;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.nav2{
    display: flex;
    gap: 25px;
}
.nav2 a{
    color: #fff;
    text-decoration: none;
}
.product-section{
    background-color: #eff4e6;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    height: 600px;
    flex-wrap: wrap-reverse;
}
.product-right-section{
    width: 500px;
}
.product-right-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-left-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 17px;
}
.product-left-text h2{
    font-size: 50px;
}
.product-left-text b{
    color: #5e9400;
}
.product-left-text button{
    background-color: #5E9400;
    padding: 8px 23px;
    color: #fff;
    border: none;
    border-radius: 8px;
}
.product-video-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 2rem;
    flex-wrap: wrap;
}
.product-form{
    background-color: #eff4e6;
    box-shadow: 0px 2px 25px 0px #5E940040;
    padding: 30px 10px;
    width: 380px;
}
.product-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.product-form form h2{
    font-size: 16px;
    font-weight: 900;
}
.product-form form b{
   color: #5e9400;
}
.product-form form .inp1{
    display: flex;
    flex-direction: column;
}
.product-form form .inp1 label{
    padding-bottom: 3px;
    font-size: 12px;
}
.product-form form .inp1 input{
    border: none;
    background-color: #fff;
    border-radius: 7px;
    padding: 8px;
    width: 313px;
    outline: none;
}
.product-form form .inp1 select{
    border: none;
    background-color: #fff;
    border-radius: 7px;
    padding: 8px;
    width: 313px;
    outline: none;
}
.product-form form button{
    background-color: #5E9400;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 314px;
}
.bottom-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    width: 100%;
    padding-left: 23px;
}
.bottom-text a{
    text-decoration: none;
    color: #5E9400;
}
.why-galla{
    text-align: center;
}
.detail-galla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* gap: 85px; */
    background-color: #5E9400;
    padding: 53px 64px;
    flex-wrap: wrap;
}
.detail-gala-box {
    display: flex;
    align-items: center;
    gap: 12px;
}
.galla-text {
    display: flex;
    flex-direction: column;
}
.galla-img {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    overflow: hidden;
}
.galla-img img {
    width: 100%;
    height: 100%;
}
.galla-text {
    color: #fff;
}
.galla-text small{
    font-size: 13px;
}
.why-galla h2{
    padding-bottom: 17px;
    font-size: 40px;
}
.why-galla h2 b{
  color: #5E9400;
}
.what-galla {
    padding: 3rem 0px;
}
.what-galla h2{
      text-align: center;
      font-size: 40px;
}
.what-galla b{
    color: #5E9400;
}
.what-galla p{
      text-align: center;
      z-index: 1;
}
.box1-galla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text-first-section{
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 1;
}
.left-text-galla{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 17px;
    padding-left: 124px;
    width: 500px;
}
.left-text-galla p{
   text-align: start;
}
.left-text-galla button{
    background-color: #5E9400;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 7px;
    z-index: 1;
}
.text-galla-head{
    display: flex;
    flex-direction: column;
}
.right-img-galla{
    width: 239px;
}
.right-img-galla img{
    width: 100%;
    height: 100%;
}
.text-img{
    border: 2px solid #5E9400;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    padding: 12px;
    background: #fff;
}
.text-img img{
    width: 100%;
    height: 100%;
}
.circle-div{
    position: relative;
}
.circle-div .circle{
    height: 400px;
    width: 400px;
    position: absolute;
    border: 45px solid #eff4e6;
    padding: 30px;
    border-radius: 50%;
    left: -333px;
    top: -89px;
}
.reverse .circle-div .circle{
    right: -391px;
    top: -42px;
    left: 0;
}
.text-galla-head h3{
    color: #5E9400;
}
.box-galla{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.after-galla-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 116px;
    justify-content: center;
    box-shadow: 0px 4px 25px 0px #5E940040;
    border-radius: 5px;
    overflow: hidden;

}
.top-detail{
    background: #C8C8C8;
       width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bottom-detail{
    background: #fff;
       width: 100%;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}
.after-galla-detail-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    gap: 76px;
    flex-wrap: wrap;
}
.img-top-wrap{
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 25px 0px #00000040;
    border-radius: 50%;
    overflow: hidden;
    padding: 12px;
    background: #fff;
}
.img-top-wrap img{
    width: 100%;
    height: 100%;
}
.bottom-detail p{
    font-size: 11px;
    font-weight: 700;
    color: #5e9400;
}
.coustomer-support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.coustomer-support h2{
    font-weight: 900;
    font-size: 30px;
}
.coustomer-support b{
    color: #5e9400;
}
.support-yt{
    padding-top: 13px;
}
.scroller1-box {
    width: 290px;
    /* height: 200px; */
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 4px 25px 0px #5E940040;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;
    gap: 6px;
}

.scroller-review{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0px;
}
.first-scroll-div{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 47px;
}
.first-scroll-div img{
    width: 50px;
    height: 50px;
}
.second-scroll-div p{
    font-size: 12px;
}
.mygalla_journey-box1{
    display: flex;
    /* align-items: baseline; */
    /* height: 700px; */
    justify-content: flex-start;
    padding: 2rem 0px;
    background: url(../img/mygalla_rocket-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.reverse-section{
    justify-content: flex-end;
}
.reverse-section .mygalla_desc{
    border-top-left-radius: 13px;
    border-top-right-radius: 0px;
}
.reverse-section .mygalla_desc p{
    padding: 11px 10px;

}
.reverse-section .mygalla_journey-left {
    align-items: end;
}
.mygalla_title h3{
    width: 129px;
    margin: auto;
    text-align: center;
}
.mygalla_journey-left{
    display: flex;
    flex-direction: column;
}
.mygalla_title{
    background: #8dd809;
    color: #fff;
    width: 188px;
    padding: 10px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 8px #d2d2d2;
    box-shadow: 1px -1px 6px #d2d2d2;
    gap: 10px;
}

.mygalla_desc{
    background: #8dd809;
    color: #fff;
    width: 539px;
    padding: 24px 23px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 1px 4px 8px #d2d2d2;
}
.mygalla_title span{
    background: #fff;
    color: black;
    padding: 3px 18px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #c3c3c3;
    font-weight: 600;
}
.mygalla_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: #fff;
    overflow: hidden;
}
.mygalla_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mygalla_journey-right{
    position: relative;
}
.mygalla_journey-img-wrap{
    position: absolute;
    box-shadow: 2px 2px 4px gray;
    width: 293px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    height: 150px;
    top: -26px;
    right: 0;
    border-radius: 20px;
    background: #ffff;
}
.reverse-section .mygalla_journey-img-wrap{
    left: 0;
}
.mygalla_our-journey h2{
    text-align:center;
}
.mygalla_journey-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mygalla_img{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: #fff;
    overflow: hidden;
}
.mygalla_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mygalla_journey-box-wrap{
    padding: 3rem 7vw;
}
/* contact section */
/* contact section */
/* contact section */
.contact-detail1  .wrap-svg svg{
    width: 35px;
    height: 35px;
    background: #fff;
    box-shadow: 2px 2px 4px gray;
    border-radius: 50%;
    padding: 8px;
    /* fill: #5E9400; */


}
.contact-detail1 svg{
    width: 100%;
    height: 100%;
    fill: #5E9400;


}
.contact-detail1 span{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.contact-detail1 span h3{
    color: #5E9400;
}
.contact-detail1 span a{
    color: black;
    text-decoration: none;
}
.contact-detail1{
    display: flex;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 9px;
}
.contact-detail-div{
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 16px 0px;
}
.contact-map-div{
    width: 400px;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
}
.contact-map-div iframe{
    width: 100%;
    height: 100%;
}
.contact-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 17px;
    gap: 38px;
    width: 100%;
}
.contact-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-section h2{
    font-size: 32px;
    font-weight: 800;
    color: #5E9400;

}
.contact-section b{
    color: black;
}
.footer{
    padding: 15px;
    background-color: #5E9400;
    display: flex;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
}
.foot-left-first-main{
    display: flex;
    align-items: center;
    gap: 89px;
    flex-wrap: wrap;
}
.foot-left-second-main{
    display: flex;
    align-items: center;
    gap: 217px;
    /* flex-wrap: wrap; */
}
.footleft3 span svg{
    fill: #fff;
    width: 21px;
    height: 13px;
}
.footleft3{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.foot-right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 41px;
    justify-content: space-around;
}
.top-right{
    width: 354px;
}
.top-right p{
    font-size: 14px;
}
.bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 100%;
    padding: 0px 10px;

}
.bottom-right-icons{
    display: flex;
    gap: 13px;
}
.bottom-right-icon1 {
    background-color: #fff;
    box-shadow: 2px 2px 4px gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 4px;
}
.bottom-right-icon1 svg {
   width: 100%;
   height: 100%;
   fill: #5E9400;
}
.foot-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 23px;
}
.footleft1 img{
    width: 152px;
}
.footleft1 span{
    position: relative;
    font-size: 14px;
    left: -90px;
}
.footleft1 p{
     padding-top: 9px;
     width: 401px;
}
.footleft3 a{
    color: #fff;
    text-decoration: none;
}
.footleft2 p{
    font-size: 14px;
    padding: 5px 0px;
}

@media(max-width: 800px) {
    .footleft4{
        width: 100%;
    }
    .product-left-text {
        padding-left: 8vw;
        width: 100%;
    }
.product-video iframe{
    width: 100%;
    height: 100%;
}
.support-yt iframe{
    width: 100%;
    height: 100%;
}
.after-galla-detail-wrap {
    gap :49px;
}
.detail-gala-box{
gap: 12px;
width: 148px;
}
.galla-text {
    width: 98px;
}
.galla-text small {
    font-size: 15px;
}
.detail-galla{
    gap: 24px;
    padding: 35px 9px;
}
.nav{
    padding: 10px 19px;
}
.coustomer-support h2{
    text-align: center;
}
.coustomer-support p{
    text-align: center;
}
.left-text-galla{
    padding-left: 22px;
    width: auto;
}
.box1-galla{
    padding-top: 1rem;
}
.reverse {
    flex-direction: column-reverse;
}
.reverse .circle-div .circle{
    left: -333px;
    top: -89px;
    right: auto;
}
.product-section{
    height: auto;
}
.footer{
    padding: 20px 15px;
    gap: 23px;
}
.foot-left{
    gap: 27px;
    padding: 0px;
}
.foot-left-first-main{
    gap: 27px;
}
.foot-right{
    gap: 41px;
}
.foot-left-second-main{
    gap: 27px;
    flex-wrap: wrap;
}
.footleft1 p{
    width: auto;
}
.product-video-form{
    padding: 3rem 1rem;
    flex-wrap: wrap;
    gap: 36px;
}
.mygalla_journey-img-wrap{
    top: 0%;
    /* top: -3px;
    left: -189px */
}
.mygalla_journey-img-wrap{
    width: 181px;
    height: 149px;
}
.mygalla_desc{
    width: auto;
}

.mygalla_journey-box-wrap {
    padding: 3rem 2vw;
}
.mygalla_title{
    padding: 13px 10px;
    gap: 19px;
}
}
