/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
    font-family: nirmala;
    src: url(../font/Nirmala.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: nirmala  !important;
    /* font-family: "Poppins", sans-serif !important;
     */
}
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.nav{
    background: #5e9400;
    /* background: #70ab0a;  */
    padding: 10px 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 3px #8c8c8c52;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.nav2{
    display: flex;
    gap: 25px;
}
.nav2 a{
    color: #fff;
    text-decoration: none;
}
.product-section{
    background-color: #eff4e6;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    flex-wrap: wrap;
}
.product-right-section{
    width: 500px;
}
.product-right-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-left-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 17px;
}
.product-left-text h2{
    font-size: 50px;
}
.product-left-text b{
    color: #5e9400;
}
.product-left-text button{
    background-color: #5E9400;
    padding: 8px 23px;
    color: #fff;
    border: none;
    border-radius: 8px;
}
.product-video-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 2rem;
    flex-wrap: wrap;
}
.product-form{
    background-color: #eff4e6;
    box-shadow: 0px 2px 25px 0px #5E940040;
    padding: 30px 10px;
    width: 380px;
}
.product-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.product-form form h2{
    font-size: 16px;
    font-weight: 900;
}
.product-form form b{
   color: #5e9400;
}
.product-form form .inp1{
    display: flex;
    flex-direction: column;
}
.product-form form .inp1 label{
    padding-bottom: 3px;
    font-size: 12px;
}
.product-form form .inp1 input{
    border: none;
    background-color: #fff;
    border-radius: 7px;
    padding: 8px;
    width: 313px;
    outline: none;
}
.product-form form .inp1 select{
    border: none;
    background-color: #fff;
    border-radius: 7px;
    padding: 8px;
    width: 313px;
    outline: none;
}
.product-form form button{
    background-color: #5E9400;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 314px;
}
.bottom-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    width: 100%;
    padding-left: 23px;
}
.bottom-text a{
    text-decoration: none;
    color: #5E9400;
}
.why-galla{
    text-align: center;
}
.detail-galla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* gap: 85px; */
    background-color: #5E9400;
    padding: 53px 64px;
    flex-wrap: wrap;
}
.detail-gala-box {
    display: flex;
    align-items: center;
    gap: 12px;
}
.galla-text {
    display: flex;
    flex-direction: column;
}
.galla-img {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    overflow: hidden;
}
.galla-img img {
    width: 100%;
    height: 100%;
}
.galla-text {
    color: #fff;
}
.galla-text small{
    font-size: 13px;
}
.why-galla h2{
    padding-bottom: 17px;
    font-size: 40px;
}
.why-galla h2 b{
  color: #5E9400;
}
.what-galla {
    padding: 3rem 0px;
}
.what-galla h2{
      text-align: center;
      font-size: 40px;
}
.what-galla b{
    color: #5E9400;
}
.what-galla p{
      text-align: center;
      z-index: 1;
}
.box1-galla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text-first-section{
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 1;
}
.left-text-galla{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 17px;
    padding-left: 124px;
    width: 400px;
}
.left-text-galla p{
   text-align: start;
}
.left-text-galla button{
    background-color: #5E9400;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 7px;
    z-index: 1;
}
.text-galla-head{
    display: flex;
    flex-direction: column;
}
.right-img-galla{
    width: 239px;
}
.right-img-galla img{
    width: 100%;
    height: 100%;
}
.text-img{
    border: 2px solid #5E9400;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    padding: 12px;
    background: #fff;
}
.text-img img{
    width: 100%;
    height: 100%;
}
.circle-div{
    position: relative;
}
.circle-div .circle{
    height: 400px;
    width: 400px;
    position: absolute;
    border: 45px solid #eff4e6;
    padding: 30px;
    border-radius: 50%;
    left: -333px;
    top: -89px;
}
.reverse .circle-div .circle{
    right: -391px;
    top: -42px;
    left: 0;
}
.text-galla-head h3{
    color: #5E9400;
}
.box-galla{
    display: flex;
    flex-direction: column;
    gap: 45px;
}